<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/styles.css">
  <link rel="icon" href="../IMG/low-negro-sinFondo.png" type="image/x-icon">
  <title>Monitoreo Ambiental</title>
</head>

<body>
  <header>
    <a href="/"><h1>Monitoreo Ambiental</h1></a>
  </header>
  <!-- Contenedor donde se mostrara el documento mas reciente de la coleccion  -->
  <div class="container" id="data-container">
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="../Js/getData.js"></script>
</body>

</html>