<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="../CSS/styles.css">
    <link rel="icon" href="../IMG/low-negro-sinFondo.png" type="image/x-icon">
    <title>Team</title>
</head>

<body>
    <script src="../JS/style.js"></script>
    <header>
        <div class="menu-container">
            <div class="grt-menu-row">
                <div class="grt-menu-logo">
                    <a href="/" class="grt-logo">
                        <h1> Monitoreo Ambiental </h1>
                    </a>
                </div>
                <div class="grt-menu-right">
                    <nav>
                        <button class="grt-mobile-button"><span class="line1"></span><span class="line2"></span><span
                                class="line3"></span></button>
                        <ul class="grt-menu">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/team">Team</a></li>
                            <li class="grt-dropdown"><a>Vistas</a>
                                <ul class="grt-dropdown-list">
                                    <li><a href="/grafica">Grafic</a></li>
                                    <li><a href="/maps">Maps</a></li>
                                    <li><a href="/allDoc">All Documents</a></li>
                                    <li><a href="/dataDB">One Document</a></li>
                                </ul>
                            </li>
                            <li><a href="/wokwi">Wokwi</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="responsive-container-block outer-container">
        <div class="responsive-container-block inner-container">
            <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-4 wk-ipadp-5 content-container">
                <div class="content-box">
                    <p class="text-blk section-head">
                        Team Mates
                    </p>
                    <p class="text-blk section-body">
                       
                    </p>
                </div>
            </div>
            <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-8 team-cards-outer-container">
                <div class="responsive-container-block team-cards-inner-container">
                    <div class="responsive-cell-block wk-mobile-12 wk-ipadp-10 wk-tab-8 wk-desk-6 card-container">
                        <div class="card">
                            <div class="img-box">
                                <img class="person-img" src="../IMG/pancho.jpg">
                            </div>
                            <div class="card-content-box">
                                <p class="text-blk person-name">
                                    Anguiano Pedraza Carlos Emmanuel
                                </p>
                                <p class="text-blk person-info">
                                  Encargado de ensamblar el circuito
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="responsive-cell-block wk-mobile-12 wk-ipadp-10 wk-tab-8 wk-desk-6 card-container">
                        <div class="card">
                            <div class="img-box">
                                <img class="person-img" src="../IMG/jorge.jpg">
                            </div>
                            <div class="card-content-box">
                                <p class="text-blk person-name">
                                    Briseño Ponce Jorge Luis
                                </p>
                                <p class="text-blk person-info">
                                    Encargado del diseño de la PCB y la implementacion fisica.
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="responsive-cell-block wk-mobile-12 wk-ipadp-10 wk-tab-8 wk-desk-6 card-container">
                        <div class="card">
                            <div class="img-box">
                                <img class="person-img" src="../IMG/irving.jpg">
                            </div>
                            <div class="card-content-box">
                                <p class="text-blk person-name">
                                    Garcia Gonzalez Irving Ulises
                                </p>
                                <p class="text-blk person-info">
                                    Encargado de la simulaciones de los microcomponentes
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="responsive-cell-block wk-mobile-12 wk-ipadp-10 wk-tab-8 wk-desk-6 card-container">
                        <div class="card">
                            <div class="img-box">
                                <img class="person-img" src="../IMG/clatua2.jpg">
                            </div>
                            <div class="card-content-box">
                                <p class="text-blk person-name">
                                    Guerrero Diaz Axel Ramon
                                </p>
                                <p class="text-blk person-info">
                                    Encargado de la realizacion del sistema web
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="responsive-cell-block wk-mobile-12 wk-ipadp-10 wk-tab-8 wk-desk-6 card-container">
                        <div class="card">
                            <div class="img-box">
                                <img class="person-img" src="../IMG/zing.jpg">
                            </div>
                            <div class="card-content-box">
                                <p class="text-blk person-name">
                                    Zing Perez Gilberto Alexander
                                </p>
                                <p class="text-blk person-info">
                                    Encargado de la programacion de los microcomponentes para la Esp32
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>