body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.data-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.data-item h2 {
    margin: 0;
}

.data-item p {
    margin: 5px 0;
}

/* Estilo predeterminado de la barra de temperatura (menos de 30°C) */
.temperature-bar {
    width: 100%;
    /* Ancho predeterminado para temperaturas menores a 30°C */
    height: 20px;
    background-color: #ccc;
    /* Color predeterminado */
    position: relative;
    margin: 10px 0;
}

/* Estilo para la barra de temperatura cuando la temperatura es mayor o igual a 30°C (rojo) */
.temperature-bar.high-temperature {
    background-color: #ff0000;
    /* Cambia el color a rojo */
}

/* Estilo para la barra de temperatura cuando la temperatura es menor a 30°C (azul) */
.temperature-bar.low-temperature {
    background-color: #3498db;
    /* Cambia el color a azul */
}

.temperature-level {
    height: 100%;
    text-align: center;
    line-height: 20px;
    color: white;
    position: relative;
    transition: width 0.5s;
    /* Agrega una transición suave para cambiar el ancho */
}